<h2>Manage tokens for <%= @entity || @entity_id %></h2>

<table class="table">
  <% if !@authentication_token %>
    <tr id="config-token">
      <td class="lead">
        Config token
      </td>
      <td>
        <% if @configuration_token %>
          <% if @configuration_token.expired? %>
            <span class="label label-warning">Expired</span>
          <% else %>
            Expires in <%= time_ago_in_words @configuration_token.expires_at %>
          <% end %>
        <% else %>
          <%= button_to 'Create', configuration_token_path(@entity_id), class: "btn btn-default" %>
        <% end %>
      </td>
      <% if @configuration_token %>
        <td>
          <% unless @configuration_token.expired? %>
            Value <mark><%= @configuration_token.value %></mark>
            <p><small>case insensitive</small></p>
          <% end %>
        </td>
        <td>
          <%= button_to 'Destroy', token_auth.configuration_token_path(@entity_id), method: :delete, class: "btn btn-warning" %>
        </td>
      <% end %>
    </tr>
  <% else %>
    <tr id="auth-token">
      <td class="lead">
        Auth token
        <% unless @authentication_token.is_enabled? %>
          <span class="label label-danger">Disabled</span>
        <% end %>
      </td>
      <td>
        Client uuid <%= @authentication_token.client_uuid %>
      </td>
      <td>
        <% if @authentication_token.is_enabled? %>
          <%= button_to 'Disable', authentication_token_path(@entity_id), method: :patch, class: "btn btn-warning", params: { is_enabled: false } %>
        <% else %>
          <%= button_to 'Enable', authentication_token_path(@entity_id), method: :patch, class: "btn btn-info", params: { is_enabled: true } %>
        <% end %>
      </td>
      <td>
        <%= button_to 'Destroy', authentication_token_path(@entity_id), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
      </td>
    </tr>
  <% end %>
</table>
